body{
    margin:0;
    padding:0;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    font-family:Arial, sans-serif;

    background:#0f172a;
    color:white;
}

h1{
    color:yellow;
}

.container{
    background:#1e293b;

    width:90%;
    max-width:900px;

    padding:70px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 0 25px rgba(0,0,0,.4);
}

h1{
    color:#facc15;
}

p{
    font-size:20px;
}

input{
    width:80%;
    padding:12px;
    border:none;
    border-radius:8px;
}

button{
    width:320px;

    padding:18px;

    font-size:20px;

    font-weight:bold;

    border:none;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;

    box-shadow:0 4px 10px rgba(0,0,0,.3);
}

.sim:hover{
    background:#15803d;
}

.talvez:hover{
    background:#ca8a04;
}

.nao:hover{
    background:#dc2626;
}

button{
    margin:10px;
    min-width:120px;
}

h2{
    color:#22c55e;
}

.container{
    background:#1e293b;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.barra{
    width:100%;
    height:20px;
    background:#334155;
    border-radius:10px;
    overflow:hidden;
    margin-bottom:20px;
}

.preenchimento{
    height:100%;
    background:#22c55e;
}

.sim{
    background:#22c55e;
}

.talvez{
    background:#eab308;
    color:black;
}

.nao{
    background:#ef4444;
}

button{
    width:350px;

    padding:18px;

    margin:10px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-size:20px;

    font-weight:bold;

    transition:.3s;

    box-shadow:0px 4px 10px rgba(0,0,0,.3);
}

.perfil-iniciante{
    color:#ef4444;
}

.perfil-desenvolvimento{
    color:#f59e0b;
}

.perfil-potencial{
    color:#eab308;
}

.perfil-alto{
    color:#22c55e;
}

.perfil-proativo{
    color:#3b82f6;
}

.container{
    background:#1e293b;
    width:90%;
    max-width:1000px;
    padding:80px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 30px rgba(0,0,0,.5);
}

button{
    margin:5px;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

.icone{
    font-size:70px;
    margin-bottom:10px;
}

footer{
    margin-top:30px;
    text-align:center;
    color:#94a3b8;
    font-size:14px;
}